<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
        <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
        <Label class="sidedrawer-header-brand" text="User Name"></Label>
        <Label class="footnote" text="username@mail.com"></Label>
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <ListView class="main-nav" [items]="mainNavItems" separatorColor="transparent" (itemTap)="onNavigationItemTap($event)">
                <ng-template let-item="item">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isPageSelected(item.title)">
                        <Label col="0" [text]="item.icon" class="fa"></Label>
                        <Label col="1" [text]="item.title" class="p-r-10"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>

            <StackLayout class="hr-light"></StackLayout>

            <ListView class="footer-nav" [items]="footerNavItems" separatorColor="transparent" (itemTap)="onNavigationItemTap($event)">
                <ng-template let-item="item">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isPageSelected(item.title)">
                        <Label col="0" [text]="item.icon" class="fa"></Label>
                        <Label col="1" [text]="item.title" class="p-r-10"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </ScrollView>
</GridLayout>